body{
	font-family: arial;
	background-color: #668883;
}
table, tr, td, th {
	border-style: solid; border-width: 1px;
	border-color: black;
}

.mi-clase {
	color: #FF0000;
	background-color: #00FF00 ;
	font-size: 20px;
	font-weight: bold;
}
.oculto{
	display: none;
}
.color-letra-azul{
	color:#0000ff;
	font-size: 25px;
}
.color-letra-verde{
	color:#47567A;
	font-size: 20px;
}