body{
	font-family: arial;
	background-color: #324073;
}
table, tr, td, th {
	border-style: solid; border-width: 1px;
	border-color: black;
}

.mi-clase {
	color: #f4f91de0;
	background-color: #f4f91de0;
	font-size: 20px;
	font-weight: bold;
}
.oculto{
	display: none;
}
.color-letra-azul{
	color:##64675f;
	font-size: 25px;
}
.color-letra-verde{
	color:##555a50;
	font-size: 20px;
}